.footer {
  background-color: $color-dark;
  color: $color-white;
  &__newsletter {
    h4 {
      color: $color-white;
    }
    &__form {
      position: relative;
        input {
          background: #FFF;
          width: 100%;
          height: 66px;
          border-radius: 100px;
          margin-top: 0;
          font-size: 15px;
          padding: 12px 15px 12px 25px;
          box-shadow: 0 3px 6px -1px #00000026;
          border: 1px solid #ffffff4d;
          transition: border-color .4s;
          &:focus {
            outline: none;
          }
        }
        &__btn {
          position: absolute;
          right: 0;
          top: 0;
          padding: 0;
          height: 65px;
          width: 65px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          border: none;
          i {
            font-size: 30px;
          }
        }
        &__btn-default {
          color: #456BED;
          background: linear-gradient(180deg,#FFF .51%,#C5CADD 97.86%);
          box-shadow: 0 1px 0 #9da9cd, 0 2px 4px #091e4299;
      }
    
      }
  }
  hr {
    border: none;
    background-color: transparent;
    height: 1px;
    background-image: linear-gradient(
      90deg,
      rgba(206, 211, 246, 0) 0,
      #ced3f6 38%,
      #ced3f6 64%,
      rgba(206, 211, 246, 0) 99%
    );
    opacity: 0.3;
  }
  &__content {
    &__fast {
      position: relative;
      span {
        display: block;
        width: 1px;
        height: 100%;
        background-color: transparent;
        background-image: linear-gradient(0deg,#ced3f600 0,#CED3F6 38%,#CED3F6 64%,#ced3f600 99%);
        opacity: .3;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
    h3 {
      color: $color-white;
      margin-bottom: 20px;
    }
    ul {
      padding: 0;
      li {
        list-style: none;

        a {
            margin-bottom: 15px;
            color: $color-white;
            display: inline-block;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
            &:hover {
              color: $color-tertiary;
            }
            &::after {
              content: '';
              display: block;
              width: 0;
              height: 1px;
              background: $color-tertiary;
              transition: width .3s;
            }
            &:hover::after {
                width: 100%;
            }
        }
    }
  } 
  }
  &__bottom {
    align-items: center;
    a {
      color: $color-white;
    }
    &__text {
      @include respond(tablet) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &__logo {
      display: flex;
      align-items: center;
      justify-content: end;
      @include respond(tablet) {
        justify-content: center;
        margin-top: 20px;
      }
      a {
        &:not(:last-child) {
          margin-right: 10px;
        }
        i {
          color: $color-white;
          font-size: 50px;
          background-color: $color-secondary;
          padding:  0 10px;
          border-radius: 3px;
        }
      }
    }
  }

}
