.footer {
  background-color: $color-primary;
  hr {
    margin: 0;
    border: none;
    background-color: transparent;
    height: 1px;
    background-image: linear-gradient(
      90deg,
      rgba(206, 211, 246, 0) 0,
      #ced3f6 38%,
      #ced3f6 64%,
      rgba(206, 211, 246, 0) 99%
    );
    opacity: 0.3;
  }
}
