.fun-fact {
  &__box {
    &:not(:last-child) {
      border-right: 1px solid $color-border;
    }

    @include respond(laptop) {
      &:nth-child(2) {
        border: none !important;
      }
    }
    @include respond(phone) {
      & {
        border: none !important;
      }
    }
  }

  &__card {
    border: none;

    &-body {
      text-align: center;

      &--icon{
        height: 170px;
        width: 170px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 12px;
        margin: auto;
        margin-bottom: 30px;
        box-shadow: 0 5px 30px 0 $color-shadow;
        position: relative;
        z-index: 1;
        font-size: 50px;
        color: $color-primary;
      }

      h4 {
        font-size: 60px;
        @include respond(phone) {
          font-size: 40px;
        }
      }
    }
  }
}

.fun-fact-2__item {
  position: relative;
  &__dot-1 {
    top: 20px;
    left: 60px;
  }
  &__dot-2 {
    left: 110px;
    top: 150px;
  }
  &__dot-3 {
    right: 70px;
    top: 95px;
  }
}

[class*=fun-fact-2__item__dot-] {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $color-primary;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: dotsAnim;
  animation-name: dotsAnim;
  -webkit-animation-timing-function: cubic-bezier(.39,.58,.57,1);
  animation-timing-function: cubic-bezier(.39,.58,.57,1);
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
