.fun-fact {
  &__box {
    &:not(:last-child) {
      border-right: 1px solid $color-primary;
    }

    @include respond(laptop) {
        &:nth-child(2) {
            border: none !important;
          }
    }
    @include respond(phone) {
      & {
        border: none !important;
      }
    }
  }

  &__card {
    border: none;

    &-body {
      text-align: center;

      i {
        display: block;
        height: 170px;
        width: 170px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 12px;
        margin: auto;
        margin-bottom: 30px;
        box-shadow: 0 10px 60px 0 rgba(37, 39, 88, 0.1);
        position: relative;
        z-index: 1;
        font-size: 50px;
        color: $color-primary;

        &::after {
          position: absolute;
          content: "";
          height: calc(100% - 32px);
          width: calc(100% - 36px);
          border-radius: 12px;
          z-index: -1;
          background: $color-tertiary;
        }
      }

      h4 {
        font-size: 60px;
      }
    }
  }
}
