.fun-fact {
  &__box {
    &:not(:last-child) {
      border-right: 1px solid $color-border;
    }

    @include respond(laptop) {
      &:nth-child(2) {
        border: none !important;
      }
    }
    @include respond(phone) {
      & {
        border: none !important;
      }
    }
  }

  &__card {
    border: none;

    &-body {
      text-align: center;

      i {
        display: block;
        height: 170px;
        width: 170px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 12px;
        margin: auto;
        margin-bottom: 30px;
        box-shadow: 0 5px 30px 0 $color-shadow;
        position: relative;
        z-index: 1;
        font-size: 50px;
        color: $color-primary;
      }

      h4 {
        font-size: 60px;
      }
    }
  }
}
