// Hero css start
.hero {
  position: relative;
  overflow: hidden;
  &__shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    img {
      max-width: 100%;
    }
  }
  &__content {
    @include respond(phone) {
      text-align: center;
    }
    & p,
    & h1,
    .btn-primary {
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      @include respond(phone) {
        padding: 5px 10px;
      }
    }
    & .btn__secondary {
      animation-name: moveInRight;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      @include respond(phone) {
        padding: 5px 10px;
        background-color: $color-primary;
        color: $color-white;
        &::before {
          width: 0;
        }
        &::after {
          width: 0;
        }
      }
    }
  }
  &__client-logo {
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    img {
      width: 100%;
    }
    &__images {
      position: relative;
      border: 1px solid $color-border;
      background: #fff;
      text-align: center;
      overflow: hidden;
      padding: 15px;

      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      &:hover {
        box-shadow: 0px 1px 20px 0px #40404026;
        -moz-box-shadow: 0px 1px 20px 0px #40404026;
        -o-box-shadow: 0px 1px 20px 0px #40404026;
        img {
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
          -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
        }
        a {
          opacity: 1;
          transform: translateX(-50%) translateY(-20%) translateZ(0)
            rotate(0deg) scale(1);
          -o-transform: translateX(-50%) translateY(-20%) translateZ(0)
            rotate(0deg) scale(1);
          -ms-transform: translateX(-50%) translateY(-20%) translateZ(0)
            rotate(0deg) scale(1);
          -moz-transform: translateX(-50%) translateY(-20%) translateZ(0)
            rotate(0deg) scale(1);
          -webkit-transform: translateX(-50%) translateY(-20%) translateZ(0)
            rotate(0deg) scale(1);
        }
      }
      img {
        margin: 0 auto;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
      }
      a {
        position: absolute;
        left: 50%;
        color: #000;
        margin-top: 10px;
        font-style: italic;
        transform: translateX(-50%) translateY(50px) translateZ(0) rotate(0deg)
          scale(1);
        -o-transform: translateX(-50%) translateY(50px) translateZ(0)
          rotate(0deg) scale(1);
        -ms-transform: translateX(-50%) translateY(50px) translateZ(0)
          rotate(0deg) scale(1);
        -moz-transform: translateX(-50%) translateY(50px) translateZ(0)
          rotate(0deg) scale(1);
        -webkit-transform: translateX(-50%) translateY(50px) translateZ(0)
          rotate(0deg) scale(1);
        opacity: 0;
        &:hover {
          color: #38c695;
        }
      }
      &.corporate-donor {
        padding-left: 15px;
        padding-right: 15px;
        &:hover a {
          transform: translateX(-50%) translateY(-50%) translateZ(0)
            rotate(0deg) scale(1);
          -o-transform: translateX(-50%) translateY(-50%) translateZ(0)
            rotate(0deg) scale(1);
          -ms-transform: translateX(-50%) translateY(-50%) translateZ(0)
            rotate(0deg) scale(1);
          -moz-transform: translateX(-50%) translateY(-50%) translateZ(0)
            rotate(0deg) scale(1);
          -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0)
            rotate(0deg) scale(1);
        }
      }
    }
  }
  &__image {
    @include respond(laptop) {
      position: relative;
      margin-top: 50px;
    }
    &__overlay {
      position: absolute;
      width: 45%;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      background-color: $bg-color-1;

      @include respond(laptop) {
        width: 100%;
        background: transparent;
      }
    }
    &__area {
      img {
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
      }
      position: relative;
      margin-bottom: 0;
      width: 100%;
      right: -120px;
      z-index: 3;
      @include respond(desktop) {
        right: -80px;
      }

      @include respond(laptop) {
        right: 0px;
        img {
          width: 100%;
          padding: 0 10px;
        }
      }
    }
  }
  &-v3 {
    &__image {
      margin-left: -120px;
      padding-top: 80px;
    }
    &__shape-1 {
      background-image: url(../images/shape_13.svg);
      background-size: cover;
      width: 150px;
      height: 150px;
      top: 20%;
      left: 50%;
      position: absolute;
      -webkit-animation-duration: 7s;
      animation-duration: 7s;
      -webkit-perspective: 85px;
      perspective: 85px;
      -webkit-animation-name: bubbleMover;
      animation-name: bubbleMover;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      @include respond(desktop) {
        display: none;
      }
    }
  }
}
// Hero css end
