.hero-2 {
  position: relative;
  overflow: hidden;
  &__shape-2 {
    position: absolute;
    top: 300px;
    right: 240px;

    @include respond(big-desktop) {
        right: 150px;
    }

    @include respond(desktop) {
    right: 120px;
    }
    @include respond(laptop) {
        // top: 350px;
    right: 50px;
    }

    @include respond(tablet) {
        display: none;
    }
   
  }
  &__content {
    max-width: 750px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    & p,
    & h1,
    .btn-primary {
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      @include respond(phone) {
        padding: 5px 10px;
      }
    }
    & .btn__secondary {
      animation-name: moveInRight;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      @include respond(phone) {
        padding: 5px 10px;
        background-color: $color-primary;
        color: $color-white;
        &::before {
          width: 0;
        }
        &::after {
          width: 0;
        }
      }
    }
  }

  &__image {
    text-align: center;
  }
}


.banner-one__shape-1 {
  background-image: url(../images/box-1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  top: 20%;
  left: 10%;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-perspective: 85px;
  perspective: 85px;
  @include respond(tablet) {
    display: none;
}
}
.banner-one__shape-2 {
  background-image: url(../images/dots-border-1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  top: 20%;
  right: 15%;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-perspective: 85px;
  perspective: 85px;
  @include respond(tablet) {
    display: none;
}
}

[class*=banner-one__shape-] {
  position: absolute;
  // border-radius: 50%;
  -webkit-animation-name: bubbleMover;
  animation-name: bubbleMover;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}