.how-works {
  overflow: hidden;

  &-titles {
    border-bottom: 1px solid $color-border;

    &__wrapper {
      &.swiper-wrapper {
        @include respond(laptop) {
          width: 900px;
        }
      }
    }

    &__slide {
      width: calc(100% / 5);
      cursor: pointer;
      padding: 15px 0;
      text-align: center;
      opacity: 0.4;
      transition: all 1s;

      span {
        display: flex;
        align-items: center;
        gap: 10px;

        i {
          font-size: 30px;
        }
      }

      &.swiper-slide-active {
        position: relative;
        opacity: 1;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          margin-bottom: -3px;
          bottom: 0;
          width: 60%;
          height: 4px;
          background: $color-primary;
        }
      }
    }
  }

  &-content__slide {
    margin-top: 40px;

    img {
      display: block;
      margin: auto;
      max-width: 100%;
    }
    &__text {
      display: grid;
      grid-template-columns: 60px 1fr;
      gap: 15px;
      &__icon {
        background: $bg-color-1;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        font-size: 26px;
        color: $color-primary;
      }

      h4 {
        color: $color-primary;
      }
    }
  }
}
// v3
.features-item {
  position: relative;
  z-index: 1;
  .icon-outer {
    display: inline-table;
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 50% 50% 50% 50%;
    transition: all 0.4s ease-in-out;
    background-color: #ffffff;
    box-shadow: 0 8px 48px 0 rgba(0, 0, 0, 0.15);
    color: $color-primary;
    line-height: 90px;
    font-size: 32px;
    @include respond(phone) {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  &:hover .icon-outer {
    background-image: linear-gradient(
      to right,
      $color-primary 0%,
      $color-secondary 100%
    );
    color: #ffffff;
    box-shadow: 0 8px 48px 0 rgba(0, 0, 0, 0.15);
  }
  .title {
    font-size: 22px;
    font-weight: 400;
  }
  &::after,
  &::before {
    content: "";
    width: 50%;
    border-top: 1px solid $color-secondary;
    position: absolute;
    top: 55px;
    transform: translateX(0) translateY(-50%) translateZ(0) rotate(0deg)
      scale(1);
    -o-transform: translateX(0) translateY(-50%) translateZ(0) rotate(0deg)
      scale(1);
    -ms-transform: translateX(0) translateY(-50%) translateZ(0) rotate(0deg)
      scale(1);
    -moz-transform: translateX(0) translateY(-50%) translateZ(0) rotate(0deg)
      scale(1);
    -webkit-transform: translateX(0) translateY(-50%) translateZ(0) rotate(0deg)
      scale(1);
    z-index: -1;
    @include respond(phone) {
      border: none;
    }
  }
  &::before {
    right: 50%;
  }
  @include respond(phone) {
    h5 {
      display: none;
    }
  }
}
.features-item:first-child::before {
  border-color: transparent;
}
.features-item:last-child::after {
  border-color: transparent;
}
.features-item {
  .nav-link {
    padding: 0;
  }
  .nav-link.active {
    .icon-outer {
      background-image: linear-gradient(
        to right,
        $color-primary 0%,
        $color-secondary 100%
      );
      color: #ffffff;
      box-shadow: 0 8px 48px 0 rgba(0, 0, 0, 0.15);
    }
  }
}
