.navbar {
  border: 0px;
  padding: 0px;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: all 0.3s;
  transition: all 0.4s ease-in-out;
  border-bottom: 1px solid $color-shadow;
  .navbar-brand {
    margin-right: 45px;
  }
  .btn__secondary {
    @include respond(phone) {
      background-color: $color-primary;
      color: $color-white;
      &::after {
        width: 0;
        height: 0;
        border: 0;
      }
      &::after {
        width: 0;
        height: 0;
        border: 0;
      }
    }
  }
}

.menu {
  > .nav-item {
    margin: 0 18px;
    position: relative;
    transition: all 0.1s linear;
    > .nav-link {
      padding: 20px 0;
      color: #1b1f41;
      position: relative;
      &.dropdown-toggle.active.show span {
        transform: rotate(180deg);
        color: $color-primary;
      }
      @media (max-width: 992px) {
        padding: 0px 0;
      }
      &:after {
        display: none;
      }
    }

    .mobile_dropdown_icon {
      display: none;
    }
    &.submenu {
      .dropdown-menu {
        margin: 0px;
        border: 0px;
        border-radius: 0px;
        left: -30px;
        min-width: 200px;
        padding: 15px 0px;
        background: #fff;
        top: 100%;
        box-shadow: 0px 6px 20px 0px $color-shadow;
        @media (min-width: 992px) {
          transform: translateY(20px);
          transition: all 0.3s ease-in;
          opacity: 0;
          visibility: hidden;
          display: block;
        }

        .nav-item {
          display: block;
          width: 100%;
          padding: 0px 30px;
          position: relative;
          &:not(:first-child) {
            margin-top: 14px;
          }
          .nav-link {
            padding: 0px;
            white-space: nowrap;
            font-size: 14px;
            font-weight: 500;
            color: #1b1f41;
            transition: color 0.2s linear;
            &:after {
              display: none;
            }
          }
          &:hover,
          &:focus {
            > .nav-link {
              color: $color-secondary;
            }
          }

          > .dropdown-menu {
            transition: transform 0.3s ease-in;
            &:before {
              display: none;
            }
            @media (min-width: 992px) {
              position: absolute;
              left: 100%;
              top: -15px;
              opacity: 0;
              display: block;
              visibility: hidden;
              transform: translateY(20px);
              transition: all 0.3s ease-in;
            }
          }
        }
      }
    }

    .active {
      border-bottom: 3px solid $color-secondary;
      &.nav-link {
        color: $color-secondary;
      }
    }
    &:hover {
      .nav-link {
        color: $color-secondary;
      }
      @media (min-width: 992px) {
        .dropdown-menu {
          opacity: 1;
          transform: translateY(0);
          visibility: visible;
          > .nav-item {
            &:hover {
              @media (min-width: 992px) {
                .dropdown-menu {
                  transform: scaleY(1);
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
          }
        }
      }
    }
  }
}

.navbar.navbar_fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: #fff;
  box-shadow: 0px 4px 6px 0px $color-shadow;

  .menu > .nav-item {
    transition: all 0.2s linear;
  }
  &.menu_white {
    .menu > .nav-item {
      > .nav-link {
        color: #1b1f41;
      }
      &:hover {
        color: $color-secondary;
      }
    }
    .navbar-toggler span {
      background: $color-gray;
    }
  }
}

.navbar-toggler {
  position: relative;
  width: 30px;
  height: 20px;
  border-radius: 0px;
  padding: 0px;
  border: 0px;
  margin: 25px 0px;
  &:focus {
    outline: none;
    box-shadow: none;
  }
  span {
    display: block;
    position: absolute;
    height: 1px;
    width: 50%;
    background: gray;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    &:nth-child(even) {
      left: 50%;
      border-radius: 0 9px 9px 0;
    }
    &:nth-child(odd) {
      left: 0px;
      border-radius: 9px 0 0 9px;
    }
    &:nth-child(1),
    &:nth-child(6) {
      transform: rotate(45deg);
    }
    &:nth-child(2),
    &:nth-child(5) {
      transform: rotate(-45deg);
    }
    &:nth-child(1) {
      left: 0px;
      top: 4px;
    }
    &:nth-child(2) {
      left: calc(50% - 4px);
      top: 4px;
    }
    &:nth-child(3) {
      left: -50%;
      opacity: 0;
    }
    &:nth-child(4) {
      left: 86%;
      opacity: 0;
    }
    &:nth-child(5) {
      left: 0px;
      top: 14px;
    }
    &:nth-child(6) {
      left: calc(50% - 4px);
      top: 14px;
    }
  }
  &.collapsed {
    span {
      &:nth-child(1),
      &:nth-child(2) {
        top: 2px;
      }
      &:nth-child(3),
      &:nth-child(4) {
        top: 9px;
      }
      &:nth-child(5),
      &:nth-child(6) {
        top: 16px;
      }
      &:nth-child(2),
      &:nth-child(5),
      &:nth-child(1),
      &:nth-child(6) {
        transform: rotate(0deg);
      }
      &:nth-child(3) {
        opacity: 1;
        left: 0;
      }
      &:nth-child(4) {
        opacity: 1;
        left: calc(50% - 4px);
      }
    }
  }
}
.nav_right {
  a:not(:first-child) {
    margin-left: 25px;
  }
  @include respond(laptop) {
    margin-top: 10px;
  }
}
// menu responsive css
@include respond(desktop) {
  .navbar .navbar-brand {
    margin-right: 15px;
  }
  .menu > .nav-item {
    margin-left: 14px;
  }
}
@include respond(laptop) {
  .navbar .navbar-collapse {
    position: absolute;
    left: 0;
    top: 100%;
    background: #fff;
    box-shadow: 4px 6px 10px $color-shadow;
    z-index: 8;
    width: 100%;
    padding-bottom: 15px;
  }
  .menu,
  .nav_right {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .menu > .nav-item {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    .nav-link {
      position: relative;
    }
    &.submenu .dropdown-menu {
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 10px;
      .nav-item {
        padding-left: 0;
        padding-right: 0;
        .mobile_dropdown_icon {
          top: 0px;
        }
      }
    }
    .mobile_dropdown_icon {
      display: block;
      position: absolute;
      right: 5px;
      top: 15px;
      font-size: 11px;
      transition: all 0.2s;
    }
  }
  .navbar.navbar_fixed {
    .menu > .nav-item {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

@media (max-width: 991px) {
  .navbar-nav > li .sub-menu-toggle {
    position: absolute;
    top: 0;
    right: 0;
    background: $bg-color-1;
    width: 100%;
    height: 38px;
    width: 38px;
    line-height: 38px;
    margin-right: 0px;
    cursor: pointer;
    text-align: center;
    z-index: 1;
    border: 3px solid #fff;
    color: $color-dark;
  }
}
@media (max-width: 767px) {
  .menu,
  .nav_right {
    max-width: 540px;
  }
}
@media (max-width: 370px) {
  .navbar-brand {
    padding-right: 5px;
    img {
      max-width: 100%;
    }
  }
}
