.overview {
  &__sidebar {
    &--items {
      position: sticky;
      width: 100%;
      top: calc(50% - 62px);
      @media screen and (max-width: 992px) {
        display: none;
      }
      li {
        transition: all 0.2s;
        position: relative;
        padding-left: 25px;
        display: flex;
        align-items: center;
        &:not(:last-child) {
          margin-bottom: 15px;
        }
        &::before {
          content: "";
          position: absolute;
          left: 0;
          width: 15px;
          height: 5px;
          background-color: $color-primary;
          opacity: 0.2;
          transition: all 0.2s;
        }

        &.current {
          &::before {
            opacity: 1;
          }

          a{
            color: $color-primary;
          }
        }

        a {
          display: block;
          color: $color-dark;
        }
        &:hover{
          &::before {
            opacity: 1;
          }
          a{
            color: $color-primary;
          }
          
        }
      }
    }
  }
  &__content {
    padding-top: 50px;
    padding-bottom: 50px;
    &:last-child {
      padding-bottom: 0;
    }
    &-title {
      span {
        font-size: 14px;
        font-weight: 700;
        display: block;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
    @media screen and (max-width: 992px) {
      padding: 40px 0;
    }
  }
}
