.overview {
  &__sidebar {
    &--items {
      position: sticky;
      width: 100%;
      top: calc(50% - 62px);
      padding: 0;
      @include respond(laptop) {
        display: none;
      }
      li {
        transition: all 0.2s;
        position: relative;
        padding-left: 25px;
        display: flex;
        align-items: center;
        &:not(:last-child) {
          margin-bottom: 15px;
        }
        &::before {
          content: "";
          position: absolute;
          left: 0;
          width: 15px;
          height: 5px;
          background-color: $color-primary;
          opacity: 0.2;
          transition: all 0.2s;
        }

        &.current {
          &::before {
            opacity: 1;
          }

          a {
            color: $color-primary;
          }
        }

        a {
          display: block;
          color: $color-dark;
        }
        &:hover {
          &::before {
            opacity: 1;
          }
          a {
            color: $color-primary;
          }
        }
      }
    }
  }
  &__content {
    &:not(:first-child) {
      padding-top: 40px;
    }
    &:not(:last-child) {
      padding-bottom: 40px;
    }
    &-title {
      span {
        background: $color-tertiary;
        padding: 10px 20px;
        border-radius: 50px;
        display: inline-block;
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }
}
