// Pricing section
.pricing {
  &__section-title {
    font-size: 70px;
    text-align: center;
    margin-bottom: 60px;
    @media screen and (max-width: 990px) {
      font-size: 46px;
      line-height: 1.2;
    }
  }
  &__switcher {
    max-width: 300px;
    height: 40px;
    clear: both;
    text-align: center;
    position: relative;
    background-color: #f7f8f9;
    border-radius: 25px;
  }
  &__values {
    font-size: 58px;
    font-weight: 700;
    height: 70px;
    position: relative;
    text-align: center;
    @include respond(phone) {
      font-size: 45px;
    }
  }
  &__value {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    span {
      display: inline-block;
      font-size: 20px;
      margin: 0px 0 0 0;
    }
    b {
      display: inline-block;
      font-size: 18px;
      font-weight: 700;
      position: relative;
      bottom: -5px;
    }
    &--hidden {
      display: none;
    }
    &--show {
      -webkit-animation: showToY 0.6s forwards;
      animation: showToY 0.6s forwards;
      color: $color-dark;
    }
    &--hide {
      -webkit-animation: fadeToY 0.6s forwards;
      animation: fadeToY 0.6s forwards;
    }
  }
  &-one {
    margin-bottom: -520px;
    position: relative;
    &__single {
      text-align: center;
      border-radius: 15px;
      background-color: #fff;
      box-shadow: 0 10px 60px 0 $color-shadow;
      padding: 60px 60px 50px;
      position: relative;
      z-index: 11;
      &.popular:after {
        content: "Popular";
        position: absolute;
        right: 0;
        top: 0;
        background: $color-primary;
        color: #fff;
        padding: 10px 20px;
        border-top-right-radius: 10px;
        font-weight: 600;
        font-size: 16px;
      }
      @include respond(phone) {
        padding: 20px;
      }
      h3 {
        i {
          color: $color-primary;
          margin-right: 10px;
        }
      }
    }

    &__month {
      display: inline-block;
      vertical-align: middle;
      color: $color-dark;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      margin-top: 20px;
      background-color: #f2f3f9;
      font-size: 10px;
      line-height: 32px;
      border-radius: 16px;
      padding: 0 20px;
    }
    &__list {
      list-style: none;
      border-top: 1px solid #eff0f7;
      padding: 50px 0 0;
      margin: 60px 0 0;
      position: relative;
      text-align: left;
      @include respond(phone) {
        padding: 30px 0 0;
        margin: 30px 0 0;
      }
      &:before {
        content: "";
        width: 81px;
        height: 1px;
        background-color: $color-primary;
        position: absolute;
        top: -1px;
        left: 50%;
        transform: translateX(-50%);
      }
      li {
        color: $color-gray;
        font-size: 16px;
        margin: 12px 0;
        display: flex;
        i {
          font-size: 20px;
          margin-right: 10px;
          color: $color-secondary;
        }
        i.icofont-close-circled {
          color: #c4242496;
        }
      }
    }
    &__tag-line {
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 0.2em;
      display: block;
      font-weight: 600;
      color: $color-primary;
    }
  }
}
.switcher__buttons {
  width: 100%;
}
.switcher__button {
  cursor: pointer;
  width: 50%;
  float: left;
  height: 40px;
  line-height: 40px;
  position: relative;
  z-index: 888;
  transition: 0.3s ease-in-out;
}
.switcher__border {
  height: 40px;
  width: 50%;
  background-color: $color-primary;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 555;
  margin: 0;
  border: none;
  transition: 0.3s ease-in-out;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  border--radius: 20px;
  -webkit-border-radius: 20px;
}
.switcher__button--enabled {
  color: #fff;
}
.switcher__button:nth-child(1).switcher__button--enabled ~ .switcher__border {
  left: 0;
}
.switcher__button:nth-child(2).switcher__button--enabled ~ .switcher__border {
  left: 50%;
}

.pricingV2 {
  .pricing-one {
    &__single {
      padding: 45px 20px;
    }
    &__list {
      li {
        display: block;
      }
    }
  }
}
