%title-divider-round {
    top: 0;
    display: block;
    width: 8px;
    height: 8px;
    content: "";
    background-color: #0000002e;;
    border-radius: 50%;
  }
.subtitle {
    p {
        margin-bottom: 0;
    }
    &__dot {
        @extend %title-divider-round;
        position: relative;
        margin: 0 0 0 16px;

        &::before {
            @extend %title-divider-round;

            position: absolute;
            left: -(8px * 2);
        }
        &::after {
            @extend %title-divider-round;

            position: absolute;
            right: -(8px * 2);
        }
    }
}
.subtitle-center {
    text-align: center;
    p {
        margin-bottom: 0;
    }
    &__dot {
        @extend %title-divider-round;
        position: relative;
        margin: 0 auto;
    
        &::before {
            @extend %title-divider-round;
    
            position: absolute;
            left: -(8px * 2);
        }
        &::after {
            @extend %title-divider-round;
    
            position: absolute;
            right: -(8px * 2);
        }
    }
}
.subtitle-right {
    text-align: right;
    p {
        margin-bottom: 0;
    }
    &__dot {
        @extend %title-divider-round;
        position: relative;
        margin: 0 16px 0 auto;

        &::before {
            @extend %title-divider-round;

            position: absolute;
            left: -(8px * 2);
        }
        &::after {
            @extend %title-divider-round;

            position: absolute;
            right: -(8px * 2);
        }
    }
}
