.services {
  .card {
    box-shadow: 0 10px 60px 0 rgba(37, 39, 88, 0.1);
    border: none;
    transition: all .2s;

    &:hover {
      transform: translateY(-10px);
    }

    span {
      color: $color-secondary;
    }

  }

  .icon {
    font-size: 70px !important;
    color: $color-secondary;
  }
}
