
.testi-row {
    overflow: hidden;

    .clients-slider {
        padding: 20px 0 50px;
      }

      .swiper-pagination{
        &-bullet {
            background-color: $color-secondary;
            opacity: 0.3;
    
            &-active {
                opacity: 1;
              }
          }
    }

    .testi-card{
        border: none;
        box-shadow: 0px 4px 6px 0px $color-shadow;
  
        img{
            width: 60px;
            border-radius: 50%;
        }

        &__quotation{
            position: absolute;
            bottom: 0;
            right: 0;

            i{
                font-size: 45px;
                color: $color-tertiary;
            }
        }
    }
  }
  
