$color-primary: #6365f1;
$color-secondary: #6592fd;
$color-tertiary: #b4c7ff; // #c7417b #f5487f

$color-dark: #1d1d1d;
$color-gray: #475668;
$color-white: #fff;

/*
* Box shadow
*/
$color-shadow: rgba(1, 6, 33, 0.08);
$color-border: #eff0f7;

/*
* Font family
*/
$font-heading: "Jost", sans-serif;
$font-display: "Poppins", sans-serif;
