$color-primary: #1f306e;
$color-secondary: #553772;
$color-tertiary: #8f3b76; // #c7417b #f5487f

$color-dark: #1d1d1d;
$color-gray: #475668;


$font-heading: 'Jost', sans-serif;
$font-display: 'Poppins', sans-serif;