body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: #475668; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Jost", sans-serif;
  color: #1d1d1d;
  font-weight: 700; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

.hero {
  padding: 150px 0px 140px;
  position: relative;
  overflow: hidden; }
  .hero__content__title {
    font-size: 70px;
    font-weight: 600;
    line-height: 1;
    padding-right: 150px;
    margin-bottom: 22px; }
    @media screen and (max-width: 1350px) {
      .hero__content__title {
        padding-right: 0px; } }
    @media screen and (max-width: 990px) {
      .hero__content__title {
        font-size: 50px; } }
    @media screen and (max-width: 990px) {
      .hero__content__title {
        font-size: 46px;
        line-height: 1.2; } }
  .hero__content__subtitle {
    font-size: 22px;
    line-height: 1.5;
    color: #2a2e3d;
    padding-right: 150px; }
    @media screen and (max-width: 1400px) {
      .hero__content__subtitle {
        padding-right: 0px; } }
    @media screen and (max-width: 990px) {
      .hero__content__subtitle {
        font-size: 18px; } }
  .hero__content__client-logo a {
    margin-top: 70px;
    width: calc(100% / 4); }
    @media screen and (max-width: 990px) {
      .hero__content__client-logo a {
        margin-top: 40px; } }
  @media screen and (max-width: 990px) {
    .hero__image {
      position: relative;
      padding-top: 100px;
      margin-top: 50px;
      padding-bottom: 120px; } }
  .hero__image__overlay {
    position: absolute;
    width: 45%;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: #f4f7fb; }
    @media screen and (max-width: 990px) {
      .hero__image__overlay {
        width: 100%; } }

.banner_right {
  position: relative;
  margin-bottom: 0;
  width: 100%;
  right: -200px;
  z-index: 3; }
  @media screen and (max-width: 990px) {
    .banner_right {
      right: 0px; }
      .banner_right img {
        width: 100%; } }
