.hero-2 {
  position: relative;
  overflow: hidden;
  &__shape-2 {
    position: absolute;
    top: 300px;
    right: 240px;
    z-index: -1;

    @include respond(big-desktop) {
        right: 150px;
    }

    @include respond(desktop) {
        top: 350px;
    right: 120px;
    }
    @include respond(laptop) {
        // top: 350px;
    right: 50px;
    }

    @include respond(tablet) {
        display: none;
    }
   
  }
  &__content {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
  }

  &__image {
    img {
      width: 100%;
      padding: 40px;
    }
  }
}


.banner-one__shape-3 {
  background-image: url(../images/box-1.svg);
  background-size: cover;
  // background-image: linear-gradient(40deg, #ff43c0 0%, #ffa95c 100%);
  // -webkit-box-shadow: 0px 20px 40px 0px #ff768ecc;
  // box-shadow: 0px 20px 40px 0px #ff768ecc;
  width: 150px;
  height: 150px;
  top: 20%;
  left: 10%;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-perspective: 85px;
  perspective: 85px;
}

[class*=banner-one__shape-] {
  position: absolute;
  // border-radius: 50%;
  -webkit-animation-name: bubbleMover;
  animation-name: bubbleMover;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}